
.App {
  margin: 0 20px;
}

h1 {
  text-align: center;
}

.todo--container {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 20px 0;
  justify-content: space-between;
}

.todo__content--container {
  display: flex;
  align-items: center;
}

.todo__checkbox--style {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.todo__content--container > label {
  margin-left: 15px;
}

.addTodo__button--style {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
}

.addTodo__image--style {
  height: 40px;
  margin-right: 20px;
}
